 <% include ../layout/head %>
<body>
	<div id="left">
		 <% include ../layout/header %>
	</div>
	<div id="main">
		<div class="imgWork" style="vertical-align:middle;">
			<img src="img/laptop-frame.png" style="z-index:999;width:440px;"/>
			<img class="Image" src=<%= cover %> >
			<div class="Text">
				<div style="font-size: 2.5em"><%= title %></div><br/>
				<div style="font-size: 1.5em"><%= author %></div><br/>
				<div style="font-size: 1.5em"><%= subtitle %></div><br/>
			</div>
		</div>
		<div id="Title" style="display:inline-block;font-size:2em;line-height:2em;margin:20px;height:300px;vertical-align:middle;width:380px;">
			<div style="font-size:1.8em"><%= title %></div>
			<div style="font-size:1.0em;"><%= subtitle %></div>
			<div style="font-size:0.9em;line-height:1.5em">Author:&nbsp;&nbsp;<%= author %> &nbsp;&nbsp;</br>
			<font style="font-size:0.7em">Update Time:&nbsp;&nbsp;<%= upload_time %></font></div>
			<div style="height:50px">
			<% for(var i=0;i < star;++i){ %>
			<img src="img/star2.png" width="50px"/>
			<% } %>
			<% for(var i=0;i<(5-star);++i){ %>
			<img src="img/star.png" width="50px"/>
			<% } %>
			</div>
			<div style="font-size:0.6em">Popularity:&nbsp;<%= popularity %> &nbsp;&nbsp;&nbsp;&nbsp;Download times:&nbsp;<%= download_times %></div>
		</div>
		<hr/>
		<div>
			<div style="font-size:2.5em">Downloads</div><br/>
			<% if(windows_path!=null){ %>
			<img src="img/windows.png" width="130px" style="cursor:pointer" onclick=<%= windows_path%> >
			<% } %>
			<% if(linux_path!=null){ %>
			<img src="img/linux.png" width="130px" style="cursor:pointer" onclick=<%= linux_path %> >
			<% } %>
			<% if(mac_path!=null){ %>
			<img src="img/mac.png" width="130px" style="cursor:pointer" onclick=<%= mac_path %> ><br/><br/>
			<% } %>
		</div>
		<hr/>
		<% if(picts.length>0){ %>
		<div>
			<span style="font-size:2.5em">Snapshots</span>
			<ul id="featured">
				<% for(var i=0;i< picts.length;++i){ %>
				<li>
					<img src= <%= picts[i] %> >
				</li>
				<% } %>
			</ul>
		</div>
		<hr/>
		<% } %>
		<div>
			<span style="font-size:2.5em">Description</span>
			<%- description %>
		</div>
		<hr/>
	</div>
</body>

<style>
.imgWork {
	display:inline-block;
	position: relative;
	z-index: 30;
	cursor:pointer;
	padding: 10px;
}
.Image{
	width:300px;
	height: 185px;
	position:absolute;
	top:25px;
	left:79px;
}
.Text{
	text-align: left;
	padding: 10px;
	width:280px;
	height:165px;
	display:none;
	background-color:#8C4A32;
	position:absolute;
	z-index: 20;
	top: 25px;
	left:79px;
	opacity: 0.9;
}
#featured img{
	height: 310px;
	margin: 10px;
}
#featured {
	background-color:rgba(140,74,50,0.5);
	bottom:0;
	height:100px;
	left:0;
	position:absolute;
	width:100%;
	z-index:10;
}
#featured .slider-closed {width:100px;}
#featured strong {color:#fff;display:block;margin-bottom:5px;padding:10px 10px 0;text-shadow:none;}
#featured p {color:#fff;display:block;font-size:14px;padding:0 10px;text-shadow:none;}
#featured .slider-open strong {color:#fff;font-size:22px;}
#featured .slider-closed strong {font-size:18px;margin-bottom:5px;}
#featured .slider-closed p {display:none;}

</style>
<script>
$( document ).ready(function() {
  	var WIDTH = $( window ).width()-350;
  	$('.imgWork')
		.mouseenter(function(){
			$(this).children(".Image").css("z-index","10");
			var Text = $(this).children(".Text");
			$(Text).fadeIn("fast");		
		})
		.mouseleave(function(){
			var Text = $(this).children(".Text");
			$(Text).fadeOut("slow");		
		
		});
	$('#wor_opt')
		.mouseenter(function(){
			$('#wor_sub').css("display"," initial");
			$('#wor_opt').css("background-color","#BF834E");
		})
		.mouseleave(function(){
			$('#wor_sub').css("display"," none");
			$('#wor_opt').css("background-color","transparent");	
		});
	$('#wor_sub')
		.mouseenter(function(){
			$('#wor_sub').css("display"," initial");
			$('#wor_opt').css("background-color","#BF834E");
		})
		.mouseleave(function(){
			$('#wor_sub').css("display"," none");
			$('#wor_opt').css("background-color","transparent");
		});
 	$("#featured").zAccordion({
		tabWidth: 100,
		speed: 650,
		slideClass: 'slider',
		animationStart: function () {
			$('#slider').find('li.slider-open div').css('display','none');
			$('#slider').find('li.slider-previous div').css('display','none');
		},
		animationComplete: function () {
			$('#slider').find('li div').fadeIn(600);
		},
		width: WIDTH,
		height: 335
  	});
});
</script>
</html>
